
.customerTableCout {
  border-radius: 14px !important;
  background: #ffffff !important;
  box-shadow: 0px 4px 15px rgba(58, 96, 110, 0.15) !important;
  padding: 24px;
}

.customerTableCout .topHead {
  margin-bottom: 8px !important;
}

.customerTableCout .MuiTableRow-root .MuiTableCell-root:first-child {
  max-width: 60px !important;
  width: 60px !important;
}
.customerTableCout .MuiTableBody-root .MuiTableRow-root:last-child .MuiTableCell-root{
  border-bottom: unset !important;
  padding-bottom: 0 !important;
}
        
