.sidebar {
  padding: 30px 16px;
  height: 100%;
}
.sidebar * {
  box-sizing: border-box !important;
  text-decoration: none;
}
.sidebar > a {
  text-align: center;
  display: block;
  margin-bottom: 30px !important;
}
.sidebar > a img {
  width: 60px;
  height: 60px;
}
.sidebar .active {
  background: linear-gradient(180deg, #2e6073 0%, #214b5a 100%) !important;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12) !important;
}
.sidebar .active:active{
  background: black !important;
}
.sidebar .active .MuiTypography-root {
  color: #ffffff !important;
  font-weight: 700 !important;
}
.sidebar .active img {
  filter: saturate(0%) brightness(350%) !important;
}
.sidebar .MuiListItemIcon-root {
  min-width: 36px !important;
}
