body {
  margin: 0;
  box-sizing: border-box !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nunito', sans-serif !important;
  background: #f4fffb !important;
  height: 100% !important;
}
html{
  height: 100% !important;
}
#root{
  height: 100% !important;
}
*{
  font-family: 'Nunito', sans-serif;
  margin: 0 !important;
  box-sizing: border-box !important;
}
