.resources * {
    box-sizing: border-box !important;
  }
  .resources {
    padding-right: 10px;
  }
  .resourcesListHead {
    background: #ffffff;
    box-shadow: 4px 2px 15px rgba(55, 63, 65, 0.06);
    border-radius: 10px;
    padding: 8px 24px;
    height: 100%;
    margin-top: 30px !important;
  }
  .resources .resourcesTopHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #3a606e;
    padding-bottom: 24px;
  }
  .resources .attachmentHead,
  .resources .linkHead {
    background: #ffffff;
    box-shadow: 4px 2px 15px rgba(55, 63, 65, 0.06);
    border-radius: 10px;
    padding: 24px;
    height: 100%;
  }
  .resources .attachmentHead {
    margin-right: 15px !important;
  }
  .resources .linkHead {
    margin-left: 15px !important;
  }
  
  .resources .AttachmentsIcon {
    transform: translateY(3px);
    margin-right: 8px !important;
    cursor: pointer;
  }
  .resources .resourcesTopHead img {
    cursor: pointer;
  }
  .resources .resourcesModelHead {
    display: flex;
    justify-content: center;
    padding: 16px 0;
  }
  .resources .btn {
    background: linear-gradient(180deg, #2e6073 0%, #214b5a 100%);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    border: none;
    padding: 13px !important;
    height: 40px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65% !important;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #ffffff;
    cursor: pointer;
  }
  
  .resources .btn img {
    filter: saturate(0%) brightness(350%) !important;
    margin-right: 8px !important;
  }
  .resources .inputHead {
    padding: 16px 0 !important;
    border-bottom: 1px solid #eff1f1;
    border-top: 1px solid #eff1f1;
  }
  .resources .inputHead span {
    margin-left: 17px !important;
  }
  .resources .inputHead span img {
    width: 18px;
    cursor: pointer;
  }
  .uploadFileHead {
    position: relative;
  }
  .uploadFileHead .uploadFileBtn {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    height: 100% !important;
    max-width: 130px !important;
    width: 130px !important;
    background: linear-gradient(180deg, #2e6073 0%, #214b5a 100%) !important;
    border-radius: 8px !important;
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    text-align: center;
    color: #ffffff !important;
  }
  .attachmentsModel .MuiPaper-root,
  .LinksModel .MuiPaper-root {
    max-width: 618px !important;
    width: 618px !important;
    background: #ffffff !important;
    box-shadow: 4px 2px 15px rgba(55, 63, 65, 0.06) !important;
    border-radius: 16px !important;
    padding: 30px !important;
  }
  .attachmentsModel .titleHead,
  .LinksModel .titleHead {
    border-bottom: 1px solid #3a606e !important;
    text-align: center;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    text-transform: capitalize;
    color: #1c3035;
    padding: 0 0 16px !important;
    position: relative;
  }
  .attachmentsModel .titleHead img,
  .LinksModel .titleHead img {
    position: absolute;
    right: 0;
    top: 20%;
    cursor: pointer;
  }
  .attachmentsModel textarea,
  .LinksModel textarea {
    width: 100%;
    height: 80px;
    background: #ffffff;
    border: 1px solid #3a606e;
    box-shadow: 4px 2px 15px rgba(58, 96, 110, 0.06);
    border-radius: 8px;
    resize: none;
    padding: 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #3a606e;
    outline: none;
  }
  .attachmentsModel textarea::placeholder,
  .LinksModel textarea::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #3a606e;
  }
  .attachmentsSaveBtn,
  .linksSaveBtn {
    height: 40px !important;
    max-width: 100% !important;
    width: 100% !important;
    background: linear-gradient(180deg, #2e6073 0%, #214b5a 100%) !important;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12) !important;
    border-radius: 8px !important;
    font-style: normal !important;
    font-size: 14px !important;
    text-align: center !important;
    color: #ffffff !important;
    text-transform: capitalize !important;
    font-weight: 200 !important;
    letter-spacing: 0.01em !important;
  }
  