.AppointmentsTable .userprofile {
  display: flex;
  align-items: center;
}
.AppointmentsCout {
  border-radius: 14px !important;
  background: #ffffff !important;
  box-shadow: 0px 4px 15px rgba(58, 96, 110, 0.15) !important;
  padding:20px 24px;
}

.AppointmentsTable .filterImg {
  margin-left: 10px !important;
  display: inline-block;
  cursor: pointer;
}
.AppointmentsCout .topHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
.AppointmentsCout .topHead span {
  display: inline-block;
  cursor: pointer;
}
.AppointmentsCout .tableFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
  width: 100% !important;
  max-width: 100% !important;
}
.AppointmentsCout .entries span {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #3a606e;
}
.AppointmentsCout .tableFooter .PaginationHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.AppointmentsCout .tableFooter .paginationBox {
  width: 150px;
}
.AppointmentsCout
  .tableFooter
  .paginationBox
  .MuiPagination-ul
  li:first-child
  .MuiPaginationItem-root {
  border: unset !important;
}
.AppointmentsCout
  .tableFooter
  .paginationBox
  .MuiPagination-ul
  li:last-child
  .MuiPaginationItem-root {
  border: unset !important;
}
.AppointmentsCout .tableFooter .GotoBox .label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #3a606e;
}
